
<h1 align="center">Страница заказов</h1>
&nbsp;
<style>
    .shadow {
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        Параметры тени padding: 10px;
        outline: 1px solid #666;
        margin: 3px;
    }

    .maincontentrow {
        background: #ff6a00;
        display: inline-block;
    }
</style>




<div id="left" class="shadow">
    <h1 align="center"> Заказы </h1>
    &nbsp;


    <table border="1" align="center">
        <caption class="align-bottom"> Таблица заказов</caption>
        <tr>
            <th>ID заказа</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Email</th>
        </tr>
        @{
            foreach (Order order in Model.OrderList)
            {

                <tr align="center"><td><a href= "/OrderList/ReadOrderDetail/@order.Id">@order.Id</a></td><td>@order.Name</td><td>@order.surName</td><td>@order.adress</td><td>@order.phone</td><td>@order.mail</td></tr>

            }
        }
    </table>
</div>










